.content {
  padding: 128px 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);
}

.background {
  background-image: url(../../assets/images/concrete-bg-3.png);
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
}

h2 {
  margin: 0;
  font-size: 24px;
  display: inline-block;
}

hr {
  border-color: black;
  margin: 6px 0 10px;
  width: 122px;
}

p {
  text-align: start;;
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 600px) {
  div {
    padding: 128px 20px 0;
  }
}