.main-content {
  min-width: 100vw;
  min-height: 100vh;
  background-color: white;
  padding-top: 84px;
}

h1 {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  color: black
}