<div class="main-content">
  <div class="portfolio-grid">
    <app-portfolio-card imageSource="stamped-concrete.jpeg" alternateText="stamped concrete"></app-portfolio-card>
    <div>
      <img src="stamped-concrete.jpeg" alternateText="testing">
    </div>
    <img src="wells-beach-house-majestic-ashler-finished-1.jpeg" alternateText="tesating" style="width: 200px;">
    <img src="basement-power-trowel.jpeg" alternateText="testing" style="width: 200px;">
    <app-portfolio-card></app-portfolio-card>
    <app-portfolio-card></app-portfolio-card>
    <app-portfolio-card></app-portfolio-card>
    <app-portfolio-card></app-portfolio-card>
    <app-portfolio-card></app-portfolio-card>
    <app-portfolio-card></app-portfolio-card>
    <app-portfolio-card></app-portfolio-card>
    <app-portfolio-card></app-portfolio-card>
  </div>
</div>