<section class="content-img-1">
  <div class="card">
    <p class="p1">Decorative Concrete In Southern Maine</p>
    <hr>
    <p class="p2">A Design For Every Home</p>
  </div>
  <div class="button-holder">
    <app-form-dialog #formDialog></app-form-dialog>
    <button class="btn" (click)="openDialog()">Tell Us About Your Project
      <lucide-icon name="chevron-right" class="icon-chevron" color="white" [size]="20"></lucide-icon>
    </button>
    <button class="btn" (click)="onCall()">
      Call Now
      <lucide-icon name="phone-call" class="icon-call" color="white" [size]="16"></lucide-icon>
    </button>
  </div>
</section>
<section class="background">
  <div class="grid-content-img">
    <div>
      <h2>Transforming Ideas Into Concrete Reality</h2>
      <hr>
      <p>
        With over 15 years of experience of serving Southern Maine, our concrete team brings care and craftsmanship to every project. At the heart of our success lies a steadfast commitment to exceptional customer service and unyielding hard work. Our extensive expertise ensures that every job, from intricate decorative designs to practical flatwork, is executed with precision and care. When you choose us, you're not just getting a concrete solution; you're getting a partner dedicated to delivering outstanding results with your satisfaction as our top priority.
      </p>
    </div>
    <div class="img-container-1">
      <div class="grid-img-1">
      </div>
    </div>
  </div>
</section>
<section class="content-img-2">
  <div class="card">
  <p class="p1">Where Craft Meets Function</p>
  </div>
</section>
<section class="background">
  <div class="grid-content-img">
    <div class="img-container-2">
      <div class="grid-img-2">
      </div>
    </div>
    <div class="grid-content">
      <h2>Elevate Your Space with Custom Concrete</h2>
      <hr>
      <p>
        Stamped concrete can be a transformative addition to any homeowner's space, offering both aesthetic appeal and increased property value. By replicating the look of premium materials such as brick, stone, or even wood, stamped concrete creates an inviting and sophisticated atmosphere that enhances the overall appeal of a property. Stamped concrete is also a durable and low-maintenance option, making it a practical choice for driveways, patios, and walkways. Whether it's the warm appearance of a wood-textured stamped concrete deck or the classic charm of a brick-patterned driveway, stamped concrete is a versatile and cost-effective way to elevate a homeowner's space and increase your property's desirability.
      </p>
    </div>
  </div>
</section>
