<header id="nav-bar"> 
  <div class="nav-container">
    <app-logo></app-logo>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul id="nav-links">
        <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
        <li><a routerLink="/portfolio/grid" routerLinkActive="active" ariaCurrentWhenActive="page">Portfolio</a></li>
        <li><a routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page">Services</a></li>
        <li><a routerLink="/pricing" routerLinkActive="active" ariaCurrentWhenActive="page">Pricing</a></li>
        <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </div>
</header>
