.main-content {
  display: flex;
  flex-wrap: flex;
  width: 100vw;
  justify-content: center;
}

.portfolio-grid {
  display: grid;
  gap: 1.5rem 1.5rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 940px) {
  .portfolio-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
