:root {
  --background-dark: black;
  --text-primary-light: white;
  --text-primary-hover-light: rgb(221, 221, 221);
  --text-primary-black: black;
  --text-primary-dark: rgb(51 51 51);
  --text-primary-hover-dark: rgb(86, 86, 86);
  --input-background: rgb(247,247,247);
  --input-border: rgb(234 234 234);
  --input-border-hover: rgb(142 182 251);
  --input-border-box-shadow: rgb(195 218 255);
  --input-text: rgb(136 148 171);
  --btn-background-submit: rgb(75, 112, 103);
  --btn-text-submit: rgb(227 223 212);
  --btn-border-submit: rgb(39 35 36);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
